@import url('https:fonts.googleapis.com/css?family=Poppins:400,500,700');
body, html {
  max-width: 1200px;
  max-height: 575px;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.footer{
  display: block;
 margin-top: 488px;
}
.timepicker{
  position: absolute;
  top: 60px;
  left: 80px;
}
.container{
  display: block;
  justify-content: center;
  margin-top: 10px;
}
.btn {
  margin-right: 5px;
}